.header {
}
.header__title {
  position: static;
  margin: 45px auto 41px 0;
  border-color: none;
}
.header__underline {
}
@media screen and (max-width: 500px) {
  .header__title {
    max-width: 126px;
    margin: 32px 0 28px 27px;
  }
}
