.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
}
.popup_opened {
  display: flex;
}

.popup__form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.popup__form-fieldset {
  padding: 0 30px;
}

.popup__form-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 0 24px 0;
  color: black;
}
.popup__form-input {
  max-width: 358px;
  border-color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  left: 36px;
  padding-bottom: 13px;
  padding-top: 30px;
  border: none;
  border-bottom: solid 1px gray;
}
.popup__submit-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: black;
  color: white;
  width: 238px;

  height: 50px;
  margin-top: 48px;
}
.popup__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 500px) {
  .popup__form {
    width: 282px;
    height: 322px;
  }
  .popup__submit-button {
    width: 238px;
}
