.profile {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  border-top: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 36px;
  align-items: center;
}
.profile__left-side {
  display: flex;
  flex-direction: row;
}

.profile__image {
  border-radius: 50%;
  max-width: 127px;
}
.profile__text-wrapper {
  margin-left: 15px;
  justify-self: start;
}
.profile__text-top {
  display: flex;
  flex-direction: row;
}
.profile__name {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding-bottom: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}
.profile__edit-button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/pencil.svg);
  padding: 10px;
  margin: 0 18px;
  height: 25px;
  width: 25px;
  align-self: center;
  border: 1px white solid;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__occupation {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}
.profile__add-button {
  background-image: url(../images/plus-sign.svg);
  border: 2px solid #fff;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .profile {
    flex-direction: column;
    padding-top: 38px;
  }
  .profile__image {
  }
  .profile__edit-button {
    padding: 7px;
    margin: 0 10px;
  }
  .profile__text-wrapper {
    padding-top: 26px;
    text-align: center;
  }
  .profile__name {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    padding-bottom: 0;
    max-width: 196px;
  }
  .profile__occupation {
    padding-top: 14px;
    font-size: 14px;
    line-height: 17px;
    max-width: 196px;
  }
  .profile__add-button {
    min-width: 282px;
    margin-top: 36px;
  }
}
